<nav class="w-full py-2 bg-white w-screen" style="background-color: #376aae">
  <div class="flex items-center justify-between mx-auto xl:max-w-7xl lg:max-w-5xl md:max-w-3xl md:px-2 px-4">
    <section class="flex items-center text-gray-900 space-x-2">
      <a href="/" class="font-bold text-xl focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none rounded-lg flex">
        <img src="/logo.png" class="w-10 flex flex-row">
        <img src="/title_logo.png" class="w-60 flex flex-row">
      </a>
    </section>
    <% if user_signed_in?  %>
    <section>
      <ul class="md:space-x-8 space-x-6 text-gray-900 font-semibold hidden md:flex">
        <li class="relative group">
          <li class="relative group">
            <div class="group focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none rounded-lg" style="color: #f3f3f3">
              <%= link_to root_path do %>
                Home
              <% end %>
            </div>
          </li>
          <li>
            <div class="focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none rounded-lg" style="color: #f3f3f3">
              <%= link_to likes_users_path do %>
                Like
              <% end %>
            </div>
          </li>
          <li>
            <%= link_to user_path(current_user.id), {method: :get} do %>
              <div class="bg-purple-500 px-4 py- rounded-xl text-white hover:bg-purple-400 active:bg-purple-600 focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none" style="background-color: #f3f3f3; color: #4384d2">
                User
              </div>
            <% end %>
          </li>
      </ul>
    </section>
    <% end %>
  </div>
</nav>
